---
import MatchesDashboard from "../components/organisms/MatchesDashboard.astro";
import SiteHeader from "../components/organisms/SiteHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Partidas | Bolão Boladão">
  <div class="app-shell"><SiteHeader action="none" /><MatchesDashboard /></div>
</Layout>
